h1 {
  font-size: 24px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#playerColor {
  font-size: 18px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#directions {
  font-size: 18px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: lightyellow;
}

#game {
  margin: auto;
  width: 25%;
  border: 3px solid #666;
  padding: 10px;
  text-align: center;
}

#reset {
  margin: 3px;
  text-align: center;
  display: inline-block;
}

/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: indianred;
}
